~$*
*.pyc
.DS_Store
backup
chroma
data
.idea
.gradio
rag_test*
results/rag_test*
~*
.gitignore
debug_test_rag.ipynb
exclude
queries*
*.tmp
*~
flas*
visualizations
/test_data
.env
sa.ipynb
/updated_rag
*.ini
